<% if @account.cover_image.present? %>
  <div class="property-main-photo" style="background-image:url('<%= @account.cover_image.url %>')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% else%> 
  <div class="property-main-photo" style="background: image-url('no-image-found-360x250.jpg')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% end %>

<div class="container mt-4 ">
  <div class="row">
    <div class='col-md-8 border'>
      <%= render "properties/agent_details", agent: @account %>
       <h5 class="mt-3 text-muted">Registered in Domain <%= distance_of_time_in_words(@account.created_at, Time.now) %> ago (since <%= @account.created_at.strftime("%Y-%m-%d") %>). </h5>
    </div>

    <div class='col-md-4'>
      <div class="row text-center border">
        <div class="col-12">
          <h2> Agents statistics </h2>
        </div>
        <div class="col-12">
          <h5><%= @properties_sold.count %>  properties sold</h5>             
        </div>
        <div class="col-12">
          <h5><%= @properties_leased.count %>  properties leased</h5>
        </div>
        <div class="col-12">
          <h5><%= @properties_for_sale.count %>  properties for sale</h5>
        </div>
        <div class="col-12">
          <h5><%= @properties_for_rent.count %>  properties for rent</h5>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 pt-5">
        <h2>About <%= @account.full_name %></h2>
        <div id="prop-details" class="mb-2">
          <%= simple_format @account.details %>
        </div>
        <button class="btn btn-outline-info" id="toggleDetails">Show more</button>
        
      </div>
  </div>

  <section id="latest-properties">
    <h3 class="pt-5">Properties for sale <h3>
    <div class="row">
        <%= render "properties/list", properties: @properties_for_sale %>
    </div>
  </section>
</div>