<section class="form-auth text-center pt-5 mt-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :first_name, autofocus: true, class: "form-control mb-1", placeholder: "First Name" %>

    <%= f.text_field :last_name, class: "form-control mb-1", placeholder: "Second Name" %>

    <%= f.email_field :email, autocomplete: "email", class: "form-control mb-1", placeholder: "Email address" %>

    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
  
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: " Confirm Password" %>
  
    </div>
    <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block" %><
    <%= render "devise/shared/links" %>
  <% end%>
</section>
