<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Property Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if account_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">Latest</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Advertising</a>
      </li>
        <% if account_signed_in? %>
          <li class="nav-item">
            <span class="nav-link"><%= current_account.email%></span>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out",  destroy_account_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else%>
          <li class="nav-item">
            <%= link_to "Log In", new_account_session_path, class:"nav-link" %>
          </li>
        <li class="nav-item">
          <%= link_to "Sign Up ", new_account_registration_path, class:"nav-link" %>
        </li>
        <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>