<% properties.each do |property| %>
  <div class="col-md-4 p-2">
    <div class="border rounded">
      <% if property.photo.present? %>
        <%= link_to (image_tag property.photo.url, width: '100%', class: "nuri m-0 rounded-top"), property_path(property) %>
      <% else %>
        <%= link_to (image_tag "no-image-found-360x250.jpg", width: "100%", class: "nuri"), property_path(property) %>
      <% end %>
      <h3 class="ml-2"><%= link_to property.name, property_path(property) %></h3>
      <div class="ml-2 text-muted">
          <span class="mr-2"><%= property.room %> <i class="fa fa-bed"></i></span>             
          <span class="mr-2"><%= property.bathroom %> <i class="fa fa-bath"></i></span>
          <span class="mr-2"><%= property.parking_space %> <i class="fa fa-car"></i></span>
      </div>
      <h6 class="ml-2 mt-1"><%= property.address %></h6>
    </div>
  </div>
<% end %>