<p id="notice"><%= notice %></p>
<% if @property.photo.present? %>
  <div class="property-main-photo" style="background-image:url('<%= @property.photo.url %>')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% else%> 
  <div class="property-main-photo" style="background: image-url('no-image-found-360x250.jpg')">
    <div class= "photo-overlay" >
    </div>
  </div>
<% end %>

<div class="container mt-4">
  <div class="row">
    <div class='col-md-8'>
      <div class="row">
        <div class="col-md-6 p-3">
          <p class="mb-0"><%= @property.address %></p>
          <h2><%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale" %></h2>
        </div>
        <div class="col-md-6 text-center bg-light p-3">
          <div class="row mr-3">
            <div class="col-4">
              <h3><%= @property.room %> <i class="fa fa-bed"></i></h3>             
            </div>
            <div class="col-4">
              <h3><%= @property.bathroom %> <i class="fa fa-bath"></i></h3>
            </div>
            <div class="col-4">
              <h3><%= @property.parking_space %> <i class="fa fa-car"></i></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom mb-3 mt-3 pt-3 pb-3">
        <div class="col-md-6">
          <strong ><%= link_to "Est. Monthly Repayments of #{number_to_currency((@property.price/360), precision: 0)}","#", class: "text-success" %></strong>
        </div>
        <div class="col-md-6 text-right">
          <strong><%= link_to "Can I afford this property?", "#", class: "text-success"  %> </strong>
        </div>
      </div>
      <div class="row">
         <div class="col-md-12">
          <h2><%= @property.name %></h2>
          <h5>Property Description</h5>
          <div id="prop-details" class="mb-2">
            <%= simple_format @property.details %>
          </div>

          <button class="btn btn-outline-info" id="toggleDetails">Show more</button>

          <p class="mt-5">This property has been on Domain for <%= distance_of_time_in_words(@property.created_at, Time.now) %> days (sicnce <%= @property.created_at.strftime("%Y-%m-%d") %>). </p>
        </div>
      </div>
    </div>

    <div class='col-md-4 p-3'>
      <%= render "properties/agent_details" %>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h3 class="p-2">Other properties from this agent<h3>
  <div class="row">
      <%= render "properties/list", properties: @agent_properties %>
  </div>
</div>