<section class="form-auth text-center pt-5 mt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <%= f.email_field :email, autofocus: true, class: "form-control mb-1", id: "inputEmail", placeholder: "Email address" %>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"form-control mb-1", id:"inputPassword" %>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block" %><
    <%= render "devise/shared/links" %>
  <% end%>
</section>

